<%- include("header") -%>

<h2>this is about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dolor natus?
  Vitae ut corporis vel itaque aperiam exercitationem enim asperiores quia
  soluta eius nostrum magnam quam accusamus nihil fuga provident distinctio,
  laudantium eveniet minima tempora quos dicta assumenda odio porro? Aliquid
  corrupti repellat explicabo debitis nesciunt similique, dolorem totam itaque
  accusamus, tempore laudantium molestias animi, suscipit fugit! Porro
  voluptatum sapiente illum officiis animi quaerat velit fuga amet iste, id
  dolorem ab harum maxime cumque fugit voluptates architecto neque, quasi ipsum
  voluptate omnis voluptatem distinctio explicabo atque. Alias eos facilis
  deserunt commodi harum consectetur ad quia cupiditate velit ducimus debitis
  voluptatem veniam magni odio sint beatae, voluptates eaque iure earum officia
  nulla quisquam necessitatibus illo porro! Est animi facilis minus quod! Rerum
  doloremque ad, fugiat modi itaque, ex excepturi optio, qui aliquid provident
  dolore unde! Ipsa, sed dignissimos! Laborum sunt, omnis perspiciatis molestiae
  amet eveniet, animi, placeat earum eaque quia eius? Quis officia dolor, dicta
  eveniet nostrum ipsa rem blanditiis explicabo repellendus suscipit eius natus,
  consectetur provident vero excepturi sequi deserunt, magni necessitatibus non
  id? Placeat vitae, totam fuga labore cupiditate tenetur laborum odio voluptate
  doloribus fugiat consectetur vel aliquam quibusdam. Dignissimos quisquam
  similique nobis quibusdam rerum vero unde. Aperiam, possimus.
</p>
<%- include('footer') -%>
